{% block extends %}
{{ "{% extends 'GrafixWebBundle::layout.html.twig' %}" }}
{{ "{% form_theme form 'MopaBootstrapBundle:Form:fields.html.twig' %}" }}
{% endblock extends %}

{% block body %}
{{ "{% block headline -%}" }}
    Edycja {{ entity }}
{{ "{% endblock %}" }}

{{ "{% block content -%}" }}

    <form 
    action = "{{ "{{ path('" ~ route_name_prefix ~ "_update', { 'id': entity.id }) }}" }}" 
    method = "post" 
    {{ "{{ form_enctype(form) }}" }}>
        <input type="hidden" name="_method" value="PUT" />
        {{ "{{ form_widget(form) }}" }}

        <div class="form-actions">
            <a class="btn btn-link" href="{{ "{{ path('"~ route_name_prefix ~"')}} " }}">
                <i class="icon-arrow-left"></i> {{ "{{ 'buttons.back_to_list'|trans({}, 'GrafixCrmBundle') }}" }} 
            </a>
            <button class="btn btn-primary" type="submit">{{ "{{ 'buttons.submit'|trans({}, 'GrafixWebBundle') }}" }}</button>
            <button class="btn btn-danger"  type="button" data-toggle="modal" data-target="#delete-dialog">
                {{ "{{ 'buttons.delete'|trans({}, 'GrafixCrmBundle') }}" }}
            </button>
        </div>
        
    </form>


    {{ "{{ sp.deleteForm('"~ route_name_prefix ~"_delete', entity, delete_form, '"~ route_name_prefix ~".youAreAboutToDelete'|trans({}, 'GrafixWebBundle')  ) }} "}}

{{ "{% endblock %}" }}
{% endblock body %}
