{% block extends %}
{{ "{% extends 'GrafixWebBundle::layout.html.twig' %}" }}
{% endblock extends %}

{% block body %}
{{ "{% block headline %}Lista {% endblock %}" }}

{{ "{% block content %}" }}

<table class="table table-condensed records_list">
    <thead>
        <tr>
        {%- for field, metadata in fields %}

            <th>{{ field|capitalize }}</th>

        {%- endfor %}

            <th></th>
        </tr>
    </thead>
    <tbody>
    {{ '{% for entity in entities %}' }}
        <tr>

    {%- for field, metadata in fields %}
        {%- if loop.first and ('show' in actions) %}

            <td><a href="{{ "{{ path('"~ route_name_prefix ~"_show', { 'id': entity.id }) }}" }}">{{ '{{ entity.'~ field|replace({'_': ''}) ~' }}' }}</a></td>

        {%- elseif metadata.type in ['date', 'datetime'] %}

            <td>{{ '{% if entity.'~ field|replace({'_': ''}) ~' %}{{ entity.'~ field|replace({'_': ''}) ~'|date(\'Y-m-d H:i:s\') }}{% endif %}' }}</td>

        {%- else %}

            <td>{{ '{{ entity.'~ field|replace({'_': ''}) ~' }}' }}</td>

        {%- endif %}

        {%- if loop.last %}

            <td>
                {{ "{{ btns.btnShow('" ~ route_name_prefix ~ "_show',  entity.id) }}" }}
                {{ "{{ btns.btnEdit('" ~ route_name_prefix ~ "_edit',  entity.id) }}" }}     
            </td>

        {%- endif %}
    {%- endfor %}

        </tr>
    {{ '{% endfor %}' }}
    </tbody>
</table>

{% if 'new' in actions %}

        <a class="btn btn-primary"  href="{{ "{{ path('"~ route_name_prefix ~"_new') }}" }}">
            Create a new entry
        </a>

{% endif %}


{{ "{% endblock content %}" }}
{% endblock body %}
